{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=ltl96;AccountKey=feICPEEdb42WWU6aBnY7dRHentqzXIxKHZ1MtHINaA09lrGtQNp4HSteyWZIz8wv+kUDlWoRL+0tBAWxCsV82w==;EndpointSuffix=core.windows.net",
  "accountName": "ltl96",
  "accountKey": "feICPEEdb42WWU6aBnY7dRHentqzXIxKHZ1MtHINaA09lrGtQNp4HSteyWZIz8wv+kUDlWoRL+0tBAWxCsV82w==",
  "sas": "?sv=2016-05-31&ss=bfqt&srt=sco&sp=rwdlacup&se=2017-05-23T06:07:18Z&st=2017-05-22T22:07:18Z&sip=0.0.0.0-255.255.255.255&spr=https,http&sig=kkCdVnKWE61ID15U0af4U6St%2Fq2JFoBHFf8zfrRCIOs%3D"
}
